.app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    gap: 1rem;
}

.counter{
    font-weight: 700;
    font-size: 1.5rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

}